<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta name="description" content="Material for a workshop at FUxCon 2013, Frankfurt / Germany">
  <meta name="host" content="{{site.host}}">
  <meta name="author" content="Dr. Olav Schettler, Cocomore AG">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">  
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Code<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="//github.com/cocomore/fuxcon2013#readme">Behavior</a></li>
              <li class="divider"></li>
              <li><a href="//github.com/cocomore/fuxcon2013_cakephp#readme">CakePHP 2.3</a></li>
              <li><a href="//github.com/cocomore/fuxcon2013_django#readme">Django 1.5</a></li>
              <li><a href="//github.com/cocomore/fuxcon2013_drupal#readme">Drupal 7.22</a></li>
              <li><a href="//github.com/cocomore/fuxcon2013_symfony#readme">Symfony 2.3</a></li>
            </ul><!-- .dropdown-menu -->
          </li>
          <li><a href="http://www.cocomore.com/">Cocomore</a></li>
        </ul>
        <h3 class="muted">FUxCon 2013</h3>
      </div>

      <hr>
      {{ content }}
      <hr>

      <div class="footer">
        <p class="pull-right">&copy; 2013 Dr. Olav Schettler // <a href="http://www.cocomore.com/">Cocomore AG</a></p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
