<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta name="description" content="Material for a workshop at FUxCon 2013, Frankfurt / Germany">
  <meta name="author" content="Dr. Olav Schettler, Cocomore AG">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{baseurl}}/css/syntax.css">  
  <link rel="stylesheet" href="{{baseurl}}/css/main.css">  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="http://www.cocomore.com/">Cocomore</a></li>
        </ul>
        <h3 class="muted">FUxCon 2013</h3>
      </div>

      <hr>
      {{ content }}
      <hr>

      <div class="footer">
        <p>&copy; <a href="http://www.cocomore.com/">Cocomore AG 2013</a></p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
