---
layout: default
---
<div class="row-fluid">
  <div class="span3">
    <ul class="nav nav-list affix">
      <li><a href="{{ site.baseurl }}/behavior/">Behavior</a></li>

      <li class="nav-header">Topics</li>
      <li><a href="{{ site.baseurl }}/installation/">Installation</a></li>
      <li><a href="{{ site.baseurl }}/configuration/">Configuration</a></li>
      <li><a href="{{ site.baseurl }}/models/">Models</a></li>
      <li><a href="{{ site.baseurl }}/controllers/">Controllers</a></li>
      <li><a href="{{ site.baseurl }}/views/">Views</a></li>
      <li><a href="{{ site.baseurl }}/accounts/">Accounts &amp; Security</a></li>
      <li><a href="{{ site.baseurl }}/tagging/">Tagging</a></li>
      <li><a href="{{ site.baseurl }}/pictures/">Pictures</a></li>
      <li><a href="{{ site.baseurl }}/forms/">Forms</a></li>
{% comment %}      
      <li><a href="{{ site.baseurl }}/formatting/">Formatting</a></li>
      <li><a href="{{ site.baseurl }}/testdata/">Test data</a></li>
{% endcomment %}
    </ul>
  </div>
  <div class="span9">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li{% if page.name == 'cakephp' %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/cakephp/">CakePHP</a></li>
        <li{% if page.name == 'django' %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/django/">Django</a></li>
        <li{% if page.name == 'drupal' %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/drupal/">Drupal</a></li>
        <li{% if page.name == 'symfony' %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/symfony/">Symfony</a></li>
      </ul>
      <div class="tab-content">
          <h1>{{ page.title }}</h1>
          {{ content }}
      </div>
    </div>
  </div>
</div>