---
layout: default
---
<div class="row-fluid">
  <div class="span3">
    <ul class="nav nav-list affix">
      <li><a href="{{baseurl}}/behavior/">Behavior</a></li>

      <li class="nav-header">Topics</li>
      <li{% if page.name == 'installation' %} class="active"{% endif %}>
        <a href="{{baseurl}}/installation/">Installation</a></li>
      <li{% if page.name == 'configuration' %} class="active"{% endif %}>
        <a href="{{baseurl}}/configuration/">Configuration</a></li>
      <li{% if page.name == 'models' %} class="active"{% endif %}>
        <a href="{{baseurl}}/models/">Models</a></li>
      <li{% if page.name == 'controllers' %} class="active"{% endif %}>
        <a href="{{baseurl}}/controllers/">Controllers</a></li>
      <li{% if page.name == 'views' %} class="active"{% endif %}>
        <a href="{{baseurl}}/views/">Views</a></li>
      <li{% if page.name == 'accounts' %} class="active"{% endif %}>
        <a href="{{baseurl}}/accounts/">Accounts</a></li>
      <li{% if page.name == 'security' %} class="active"{% endif %}>
        <a href="{{baseurl}}/security/">Security</a></li>
      <li{% if page.name == 'tagging' %} class="active"{% endif %}>
        <a href="{{baseurl}}/tagging/">Tagging</a></li>
      <li{% if page.name == 'pictures' %} class="active"{% endif %}>
        <a href="{{baseurl}}/pictures/">Pictures</a></li>
      <li{% if page.name == 'forms' %} class="active"{% endif %}>
        <a href="{{baseurl}}/forms/">Forms</a></li>
      <li{% if page.name == 'formatting' %} class="active"{% endif %}>
        <a href="{{baseurl}}/formatting/">Formatting</a></li>
      <li{% if page.name == 'testdata' %} class="active"{% endif %}>
        <a href="{{baseurl}}/testdata/">Test data</a></li>

        <li class="nav-header">Implementations</li>
        <li><a href="{{baseurl}}/cakephp/">CakePHP</a></li>
        <li><a href="{{baseurl}}/django/">Django</a></li>
        <li><a href="{{baseurl}}/drupal/">Drupal</a></li>
        <li><a href="{{baseurl}}/symfony/">Symfony</a></li>
    </ul>
  </div>
  <div class="span9">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
</div>