---
layout: default
---
<div class="row-fluid">
  <div class="span3">
    <ul class="nav nav-list affix">
      <li><a href="/behavior/">Behavior</a></li>

      <li class="nav-header">Topics</li>
      <li{% if page.name == 'installation' %} class="active"{% endif %}>
        <a href="/installation/">Installation</a></li>
      <li{% if page.name == 'configuration' %} class="active"{% endif %}>
        <a href="/configuration/">Configuration</a></li>
      <li{% if page.name == 'models' %} class="active"{% endif %}>
        <a href="/models/">Models</a></li>
      <li{% if page.name == 'controllers' %} class="active"{% endif %}>
        <a href="/controllers/">Controllers</a></li>
      <li{% if page.name == 'views' %} class="active"{% endif %}>
        <a href="/views/">Views</a></li>
      <li{% if page.name == 'accounts' %} class="active"{% endif %}>
        <a href="/accounts/">Accounts</a></li>
      <li{% if page.name == 'security' %} class="active"{% endif %}>
        <a href="/security/">Security</a></li>
      <li{% if page.name == 'tagging' %} class="active"{% endif %}>
        <a href="/tagging/">Tagging</a></li>
      <li{% if page.name == 'pictures' %} class="active"{% endif %}>
        <a href="/pictures/">Pictures</a></li>
      <li{% if page.name == 'forms' %} class="active"{% endif %}>
        <a href="/forms/">Forms</a></li>
      <li{% if page.name == 'formatting' %} class="active"{% endif %}>
        <a href="/formatting/">Formatting</a></li>
      <li{% if page.name == 'testdata' %} class="active"{% endif %}>
        <a href="/testdata/">Test data</a></li>

        <li class="nav-header">Implementations</li>
        <li><a href="/cakephp/">CakePHP</a></li>
        <li><a href="/django/">Django</a></li>
        <li><a href="/drupal/">Drupal</a></li>
        <li><a href="/symfony/">Symfony</a></li>
    </ul>
  </div>
  <div class="span9">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
</div>